$primary-color: #2c3e50;
$secondary-color: #42b983;
$primary-color-faded: #486787;
$secondary-color-faded: #52d99c;
$light-secondary: #d9f1e6;

@font-face {
  font-family: AvenirMedium;
  src: url("../public/fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: AvenirBlack;
  src: url("../public/fonts/AvenirLTStd-Black.otf") format("opentype");
}

.avenir-black {
  font-family: AvenirBlack !important;
}

#app {
  font-family: AvenirMedium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $primary-color;
}

.wrapper-width {
  margin: 0 auto;
  max-width: 1240px;
}

.nav-bg {
  background-color: $light-secondary;
  border-bottom: 3px solid $secondary-color;
}
nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: $primary-color;
    text-decoration: none !important;
    padding: 0 10px;
    &.router-link-exact-active {
      color: $secondary-color;
      &:hover {
        color: $secondary-color-faded;
      }
    }
    &:hover {
      color: $primary-color-faded;
    }
  }
}

.cross-btn-container {
  position: relative;
  .navbar-toggler {
    border: none;

    &:focus,
    &:active {
      outline: 0;
    }
    &:not(.collapsed) {
      span {
        &:nth-child(1) {
          position: absolute;
          left: 12px;
          top: 10px;
          -webkit-transform: rotate(135deg);
          -moz-transform: rotate(135deg);
          -o-transform: rotate(135deg);
          transform: rotate(135deg);
          opacity: 0.9;
        }
        &:nth-child(2) {
          height: 12px;
          visibility: hidden;
          background-color: transparent;
        }
        &:nth-child(3) {
          position: absolute;
          left: 12px;
          top: 10px;
          -webkit-transform: rotate(-135deg);
          -moz-transform: rotate(-135deg);
          -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
          opacity: 0.9;
        }
      }
    }
    span {
      display: block;
      background-color: $primary-color;
      height: 2px;
      width: 25px;
      margin-top: 4px;
      margin-bottom: 4px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      position: relative;
      left: 0;
      opacity: 1;
      &:nth-child(1),
      &:nth-child(3) {
        -webkit-transition: transform 0.35s ease-in-out;
        -moz-transition: transform 0.35s ease-in-out;
        -o-transition: transform 0.35s ease-in-out;
        transition: transform 0.35s ease-in-out;
      }
    }
  }
}

.fade-enter-active {
  animation: fadeIn 1s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.fade-leave-active {
  animation: fadeOut 0.1s ease-in;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
